.logo {
    float: left;
    height: 50px;
    margin-top: 10px;
    margin-right: 30px;
    display: inline-block;
}
.ant-layout-header,
.ant-menu-overflow{
    background-color: #eae8e1;
}
.ant-menu-title-content::after{
    color: black;
}

/*
.css-dev-only-do-not-override-mxhywb,
.ant-menu-light.ant-menu-horizontal ,
.ant-menu-item-selected::after,
.css-dev-only-do-not-override-mxhywb
.ant-menu-light.ant-menu-horizontal ,
.ant-menu-submenu-selected::after {
    border-bottom-width: 2px;
    border-bottom-color: black;
}*/
