.boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}
h1{
  font-family: Tiempos Headline, serif;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 350px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.7s ease-in-out; /* add a transition effect to smooth the zoom */
}

.box:hover {
  transform: scale(1.05); /* zoom in on hover by scaling the box */
}

.box-image {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-text {
  padding: 20px;
  text-align: center;
  position: relative;
}

.box-text h1 {
  margin-top: 0;
}

.box-text h4 {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 16px;
}

.header-container{
  position: relative;
  background: url('./header_img.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container::before {
  content: ""; /* Create a pseudo-element to serve as the overlay */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Set the color and transparency of the overlay */
}

.header-img{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    filter: brightness(0.7); /* Make the image a bit darker */
    background-color: rgba(0, 0, 0, 0.5); /* Set the color and transparency of the overlay */
}

.header-text {
  position: absolute;
  top: 50%; /* Position the text in the center of the header container */
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text using translate */
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
    
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  text-align: center;
}